/* Main styles. */
@font-face {
  font-family:inter-black;
  src:url(../font/inter/black.ttf);
}
@font-face {
  font-family:inter-extra-bold;
  src:url(../font/inter/extra-bold.ttf);
}
@font-face {
  font-family:inter-bold;
  src:url(../font/inter/bold.ttf);
}
@font-face {
  font-family:inter-regular;
  src:url(../font/inter/regular.ttf);
}
html {
  margin:0px;
  padding:0px;
  height:100%;
}
body {
  font-family:inter-regular,sans !important;
  margin:0px;
  padding:0px;
  height:100%;
}
body::-webkit-scrollbar {
  width:0.625rem;
}
body::-webkit-scrollbar-track {
  background:#eceff1;
}
body::-webkit-scrollbar-thumb {
  background-color:#90a4ae;
  border-radius:20px;
}
h1,h2,h3 {
  font-family:inter-black,sans !important;
}
h4,h5,h6 {
  font-family:inter-extra-bold,sans !important;
}
strong,table thead th {
  font-family:inter-bold,sans !important;
}
#header {}
#content {}
#main-menu {}
.zero-margin {
  margin:0px !important;
}
.zero-padding {
  padding:0px !important;
}
.icon {
  padding:0px 5px 0px 5px;
}
.brand-icon {
  height:45px;
  vertical-align:middle;
}
.brand-logo {}
.brand-logo .vertical-small {
  height:128px;
  vertical-align:middle;
}
.brand-logo .vertical-medium {
  height:192px;
  vertical-align:middle;
}
.brand-logo .vertical-large {
  height:256px;
  vertical-align:middle;
}
.paragraph {
  font-size:12px;
}
.tab {
  position:fixed;
  left:0;
  width:75px;
  height:100%;
  background-color:#eceff1;
  margin:0px;
}
.tab-item {
  text-align:center;
  padding:10px 0px 0px 0px;
  border-bottom:1px solid #cfd8dc;
}
.tab-active {
  background-color:#cfd8dc;
}
.tab-link {}
.tab-content {
  display:none;
}
.block {
  padding:20px;
}
.block-title {
  width:70%;
}
.block-title p {
  font-size:12px;
}
.block-menu {
  width:30%;
}
.block-content::-webkit-scrollbar {
  width:0.37rem;
}
.block-content::-webkit-scrollbar-track {
  background:#eceff1;
}
.block-content::-webkit-scrollbar-thumb {
  background-color:#90a4ae;
  border-radius:15px;
}
.block-footer {
  padding:20px 0px 20px 0px;
}
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  z-index:200;
}
#footer p {
  margin:0px;
}
